body {
    background-color: #f8f9fa !important;
}

/* Ajustes de tabla */
.table {
    border-radius: 6px;
    overflow: hidden;
}

/* Ajustes de tarjeta */
.card {
    border-radius: 10px;
}

header .btn {
    border-radius: 8px;
}
