<div id="sidebar" class="bg-white border-end shadow-sm">
    <ul class="nav flex-column px-3">

        <li class="nav-item mb-2">
            <a href="{% url 'usuarios' %}" class="nav-link">
                <i class="bi bi-people me-2"></i>Usuarios
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="{% url 'alumnos' %}" class="nav-link">
                <i class="bi bi-mortarboard me-2"></i>Alumnos
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="{% url 'cursos' %}" class="nav-link">
                <i class="bi bi-journal me-2"></i>Cursos
            </a>
        </li>

    </ul>
</div>
